.assets-list
{
    position: absolute;
    top: 55px;
    left: 30%;
}

.assets-list-item
{
    display: flex;
    flex-direction: row;
}

.assets-list-item>a
{
    color: #fff;
    margin-top: 0 auto;
}